* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding-top: 10vh;
  background-color: cornflowerblue;
}

.todo-div {
  width: 30vw;
  min-height: 80vh;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: bisque;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-div h1 {
  margin-bottom: 3vh;
}

.todo-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}

.todo-input {
  width: 80%;
  height: 6vh;
  border: none;
  outline: none;
  padding: 0 1vw;
  margin-right: 0.5vw;
  font-size: 1rem;
  border-radius: 0.2vw;
}

.todo-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}

.todo-input::placeholder {
  color: #333;
}

.todo-input:focus {
  border-bottom: 1px solid #333;
}

.todo-input:focus::placeholder {
  color: transparent;
}

.todo-input:placeholder-shown + .todo-button {
  background-color: lightsteelblue;
  transition: all 0.3s ease;
}

.todo-input:not(:placeholder-shown) + .todo-button {
  background-color: cornflowerblue;
  transition: all 0.3s ease;
}

.todo-button {
  width: 20%;
  height: 6vh;
  border: none;
  border-radius: 0.2vw;
  background-color: lightsteelblue;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
}

.todo-button button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: #333 transparent;
  scroll-behavior: smooth;
}

.todo-item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1vh;
}

.todo {
  width: 90%;
  height: auto;
  min-height: 6vh;
  word-wrap: break-word;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: start;
  align-items: center;
  padding: 1vh 0;
  padding-left: 1vw;
  background-color: cornflowerblue;
  border-radius: 0.2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.todo-item .todo p {
  margin-left: 2vw;
  font-size: 1rem;
  color: white;
}

.todo-item button {
  width: 10%;
  height: 6vh;
  border: none;
  border-radius: 0.2vw;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  margin-left: 0.5vw;
}

input[type="checkbox"] {
  display: none;
}

label {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #4caf50;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

label::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 2px;
  transform: rotate(45deg);
  opacity: 0;
  top: 20%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(45deg);
}

input[type="checkbox"]:checked + label::before {
  animation: draw-checkmark 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  border-color: #4caf50;
  opacity: 1;
}

@keyframes draw-checkmark {
  0% {
    width: 0;
    height: 0;
  }
  40% {
    width: 10px;
    height: 0;
  }
  100% {
    width: 10px;
    height: 20px;
  }
}

input[type="checkbox"]:checked + label {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.completed {
  text-decoration: line-through;
}